In [7]:
import pandas as pd
import numpy as np

In [10]:
letters = ['a',"t",'t','o','y',2,5,'o','g','nope','6.5',np.nan,'t','a']

word = ''
for letter in letters:
    if isinstance(letter,str):
        if letter in 'toyota':
            word += letter
word

'attoyota'

In [16]:
#function
def func_name(x):
    return (x**2)

In [17]:
x = func_name(3)

In [18]:
print(x)

9

In [21]:
list_a = [1,2,3]
list_b = [4,5,6]
list_a.append(list_b)
list_a.extend(list_b)

In [22]:
list_a

[1, 2, 3, [4, 5, 6], 4, 5, 6]

In [23]:
#list
list_a = [1,2,3]
list_b = [4,5,6]
list_a.append(list_b)
list_a.extend(list_b)
print(list_a+list_b)

[1, 2, 3, [4, 5, 6], 4, 5, 6, 4, 5, 6]

In [26]:
# dict
a_dict = {'a':[3,4,5]}
a_dict['b'] = {'c':[3,4]}
a_dict['b']['c']+=[6,7]
a_dict

{'a': [3, 4, 5], 'b': {'c': [3, 4, 6, 7]}}

In [24]:
a_dict = {'a':[3,4,5]}
a_dict['b'] = {'c':[3,4]}

In [25]:
a_dict

{'a': [3, 4, 5], 'b': {'c': [3, 4]}}

In [27]:
list_a

[1, 2, 3, [4, 5, 6], 4, 5, 6]

In [28]:
#map and lambda
list(map(lambda x: x*3, list_a))

[3, 6, 9, [4, 5, 6, 4, 5, 6, 4, 5, 6], 12, 15, 18]

In [29]:
list_b

[4, 5, 6]

In [30]:
list(filter(lambda x: x!=5,list_b))

[4, 6]

In [32]:
# Create DataFrame
df = pd.DataFrame([[1,2,3],[4,5,6],[3,3,np.nan]],columns = ['col_1','col_2','col_3'])

In [31]:
[[1,2,3],[4,5,6],[3,3,np.nan]]

[[1, 2, 3], [4, 5, 6], [3, 3, nan]]

In [33]:
df

   col_1  col_2  col_3
0      1      2    3.0
1      4      5    6.0
2      3      3    NaN

In [34]:
print(df.shape)
display(df.describe())

(3, 3)

          col_1     col_2    col_3
count  3.000000  3.000000  2.00000
mean   2.666667  3.333333  4.50000
std    1.527525  1.527525  2.12132
min    1.000000  2.000000  3.00000
25%    2.000000  2.500000  3.75000
50%    3.000000  3.000000  4.50000
75%    3.500000  4.000000  5.25000
max    4.000000  5.000000  6.00000

In [35]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [36]:
df.rename(columns = {'col_1':'col_a'},inplace=True)

In [37]:
df

   col_a  col_2  col_3
0      1      2    3.0
1      4      5    6.0
2      3      3    NaN

In [38]:
df.iloc[0,2]

3.0

In [40]:
df.loc[0,'col_3']

3.0

In [41]:
df.col_a == 4

0    False
1     True
2    False
Name: col_a, dtype: bool

In [42]:
df[df.col_a == 4]

   col_a  col_2  col_3
1      4      5    6.0

In [44]:
df['col_a']

0    1
1    4
2    3
Name: col_a, dtype: int64

In [46]:
type(df['col_a'].apply(lambda x: x**2))

pandas.core.series.Series

In [ ]:
df

In [ ]:
# SQL QUERY version
# SELECT col_a
# ,col_2
# FROM df
# WHERE 1=1
# AND col_3 > 3
# OR col_a = 3

df[['col_a','col_2']][(df.col_3 > 3) | (df.col_a==3)]